*{
    margin: 0;
    padding: 0;
}

body{
    background-color:black;
}

h1{
    color:white;
    text-align:center;
    font-family:Lato,sans-serif;
    font-size: 50px;
    padding: 300px;
    background-image: url('123.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.nav {
    background-color:black;
    overflow: hidden;
    text-align: center;
    position: relative;
    float: none;
    margin: auto;
    margin-left: 25%;

  }
  
  .nav a {
    float: left;
    color:white;
    text-align: center;
    padding: 70px;;
    font-size: 35px;
    text-decoration: none;


  }
    .nav a.active {
    background-color:black;
    color:white;

  }



  .info{
      color: white;
      font-size: 35px;
      background-color: #0f0e17;
      padding: 50px;
      overflow: visible;
  }
  ul{
      list-style-position: outside;
      opacity: 0.3;
      transition: 3s;
  }
  ul:hover{
      opacity: 1;
      transition: 3s;
  }

  .source{
    color: white;
    font-size: 35px;
    background-color: #0f0e17;
    padding: 50px;
    overflow: visible;

  }
 